<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>关联项目</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../stylesheets/public.css" media="all" />
</head>
<body class="childrenBody">

	<div class="demoTable layui-form">
	  <div class="layui-inline">
	    <input class="layui-input" name="name" id="name" autocomplete="off" placeholder="项目名称">
	  </div>
	  <button class="layui-btn" data-type="reload" id="glxm_btn">搜索</button>
	  <button class="layui-btn layui-right" id="confirm_btn">确认</button>
	</div>

	<table id="glxm_table" lay-filter="glxm_table"></table>
	

<script type="text/javascript" src="../layui/layui.js"></script>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
$(function(){
	let parentjson = eval('('+parent.json+')')
	console.log('子页面json',parentjson)
	let choosedata = []
	layui.use(['jquery','table','form'], function(){ 
	    let $ = layui.$ //重点处
	    let table = layui.table,
	    	form = layui.form
	    form.render('select')
	    table.render({
		    elem: '#glxm_table'
		    ,id:'table_glxm'//重载需要
		    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
		    ,url: '/manage/glxm_data' //数据接口
		    ,page: false //开启分页
		    ,cols: [[ //表头
		      {type:'numbers',title: '序号'}
		      ,{type: 'checkbox',templet:'#checkboxtpl'}
		      //,{field: 'id', title: '序号',width:90,align:'center'}
		      ,{field: 'name', title: '项目名称',align:'center'}
		    ]]
		    ,done:function(res,curr,count){
		    	console.log('reder table done ',res,curr,count)
		    	let tabledata = res.data
		    	//循环所有数据，找出对应关系，设置checkbox选中状态
		    	for(let i=0;i<parentjson.length;i++){
		    		for(let j=0;j<tabledata.length;j++){
		    			if(parentjson[i]==tabledata[j].id){
		    				console.log('找到匹配项目')
		    				console.log(tabledata[j])
		    				choosedata.push(tabledata[j])
		    				tabledata[j]['LAY_CHECKED'] = 'true'
		    				let index = tabledata[j]['LAY_TABLE_INDEX']
		    				console.log('循环中的 index',index)
		    				$('tr[data-index=' + index + '] input[type="checkbox"]').prop('checked', true);
                            $('tr[data-index=' + index + '] input[type="checkbox"]').next().addClass('layui-form-checked');
		    			}
		    		}
		    	}
		    }
		  });
	    //数据重载
	    $('#glxm_btn').on('click', function(){
	    	table.reload('table_glxm', {
		        where: {
		            name: $('#name').val()
		        }
		    });
	    })
	    //监听确认
	    $('#confirm_btn').on('click', function(){
	    	console.log('confirm_btn')
	    	console.log('choose data',choosedata)
	    	
	    		console.log('传递数据到父页面')
	    		parent.getSonData(choosedata)//调用父页面函数
	    		let index = parent.layer.getFrameIndex(window.name)
	    		console.log('index',index)
	    		parent.layer.close(index)
	    	
	    })
	    //监听复选框
	    
		table.on('checkbox(glxm_table)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
		  let checkstatus = table.checkStatus('table_glxm')
		  console.log('checkstatus',checkstatus)
		  if(checkstatus.isAll){
		  	console.log('全选')
		  	choosedata = checkstatus.data
		  }else{
		  	console.log('没有全选')
		  	choosedata = checkstatus.data
		  }
		});
	});
})

</script>
<script type="text/html" id="yjfxbar">
  <a class="layui-btn layui-btn-xs" lay-event="edit">查看 | 编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="checkboxtpl">

</script>
</body>
</html>