<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
<title><%=title%></title>
<meta name="keywords" content="大数据系统计算技术国家工程实验室">
<meta name="description" content="大数据系统计算技术国家工程实验室" >
<script type="text/javascript" src="/javascripts/mytemplate/extends.js"></script>
<link rel="stylesheet" href="/stylesheets/mytemplate/style.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/mytemplate/mobile.css" type="text/css"/>
<link rel="stylesheet" href="/stylesheets/mytemplate/media.css" type="text/css"/>
<!--[if lt IE 9]>
<script src="/javascripts/mytemplate/html5.js"></script>
<![endif]-->
</head>
<body class="main">
<!--Start||head-->
<div class="wrapper header" id="header">
  <div class="inner">
    <div class="mod clearfix">
      <a class="navi-aside-toggle"></a>
      <div class="head-left" frag="">
        <!--logo开始-->
        <div class="sitelogo" frag="" portletmode="simpleSiteAttri">
          <span frag=""><a href="" title=""><img src="images/logo_header_1.png"></a></span> 
        </div>
        <!--//logo结束-->
      </div>
      <!-- <div class="head-right">
        <div class="site-lang clearfix" frag="" > 
          <div frag="">
            <ul class="clearfix">
              <li class="links "><a href="" target=""></a> </li>
            </ul>
          </div>
        </div>
        <div class="searchbox" frag="" portletmode="search">
          <div frag="窗口内容">
            <div class="wp-search clearfix">
              <form action="" method="post" target="_blank">
                <div class="search-input">
                  <input name="keyword" class="search-title" type="text" placeholder="请输入关键词..."/>
                </div>
                <div class="search-btn">
                  <input name="submit" class="search-submit" type="submit" value=""/>
                </div>
              </form>
            </div>
          </div>
        </div>      
      </div> -->
    </div>
  </div>
</div>
<!--End||head-->
<!--Start||nav-->
<div class="wrapper nav wp-navi" id="mynav">
  <div class="inner clearfix">
    <div class="wp-panel">
      <div class="wp-window" frag="">
        <div frag="">
          <div class="navi-slide-head clearfix">
            <h3 class="navi-slide-title">导航</h3>
            <a class="navi-slide-arrow"></a> 
          </div>
          <!--[NaviStructBegin]-->
          <ul class="wp-menu" data-nav-aside='{"title":"导航","index":0}'>
            <!--[NaviItemCycleBegin]-->
            <li class="menu-item {级别样式}"><a class="menu-link" href="/" target="">首页</a>
              <!--[MenuStructBegin]-->
              <!-- <em class="menu-switch-arrow"></em> -->
              <!--[MenuStructEnd]-->
            </li>
            <li class="menu-item {级别样式}"><a class="menu-link" href="/lab" target="">实验室概况</a>
            <em class="menu-switch-arrow"></em>
              <ul class="sub-menu ">
                <li class="sub-item {级别样式}"><a class="sub-link" href="/lab" target="">实验室简介</a></li>
                <li class="sub-item {级别样式}"><a class="sub-link" href="/zzjg" target="">组织架构</a></li>
                <li class="sub-item {级别样式}"><a class="sub-link" href="/syslsh" target="">理事会</a></li>
                <li class="sub-item {级别样式}"><a class="sub-link" href="/sysld" target="">实验室领导</a></li>
                <li class="sub-item {级别样式}"><a class="sub-link" href="/jswyh" target="">技术委员会</a></li>
              </ul>
            </li>
            <li class="menu-item {级别样式}"><a class="menu-link" href="/news" target="">新闻公告</a>
            <em class="menu-switch-arrow"></em>
              <ul class="sub-menu ">
                <li class="sub-item {级别样式}"><a class="sub-link" href="/news" target="">新闻动态</a></li>
                <li class="sub-item {级别样式}"><a class="sub-link" href="/xshd" target="">学术活动</a></li>
                <li class="sub-item {级别样式}"><a class="sub-link" href="/gggs" target="">公告公示</a></li>
              </ul>
            </li>
            <li class="menu-item {级别样式}"><a class="menu-link" href="/yjpt" target="">研究平台</a></li>
            <li class="menu-item {级别样式}"><a class="menu-link" href="/kycg" target="">科研成果</a></li>
            <li class="menu-item {级别样式}"><a class="menu-link" href="/gzzd" target="">规章制度</a></li>
            <li class="menu-item {级别样式}"><a class="menu-link" href="/zxns" target="">招贤纳士</a></li>
            <!--[NaviItemCycleEnd]-->
          </ul>
          <!--[NaviStructEnd]-->
        </div>
      </div>
    </div>
  </div>
</div>
<!--aside导航-->
<div class="wp-navi-aside" id="wp-navi-aside">
  <div class="aside-inner">
    <div class="navi-aside-wrap"></div>
  </div>
  <div class="navi-aside-mask"></div>
</div>
<!--End||nav-->

<!--栏目图片开始-->
<div class="wp-wrapper wp-banner listl" frag="面板21">
  <div class="wp-inner" frag="窗口21" portletmode="simpleColumnAttri">   
      <div class="banner"><img border='0' src='images/picture.jpg'  /></div>
  </div>
</div>