<%include frontheader.ejs%>
<!--Start||content-->
<div class="wrapper" id="d-container">
  <div class="inner clearfix">
    <div class="list-head" frag="面板8">
            <div class="list-meta clearfix" frag="窗口8" portletmode="simpleColumnAttri">
                <div class="my-column-path">
                  <a href="/" target="_self">首页</a>
                  <span class="possplit">&nbsp;&nbsp;</span>
                  <a href="" target="_self">实验室理事会</a>
                  <span class="possplit">&nbsp;&nbsp;</span>
                  <a href="" target="_self">正文</a>
                </div>
            </div>
      </div>
    <div class="infobox">
      <div class="article" frag="窗口3" portletmode="simpleArticleAttri">
        <div frag="窗口内容">
          <h1 class="arti_title"><%=data.title%></h1>
          <h2 class="arti_title"></h2>
          <p class="arti_metas"><span class="arti_publisher"></span><span class="arti_update">发布时间：<%=data.time%></span><span class="arti_views"></span></p>
          <div class="entry">
          <div class="read"><%-data.content%></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End||content-->
<!--Start||footer-->
<%include frontfooter.ejs%>