<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>学术交流</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../stylesheets/public.css" media="all" />
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote">当前位置：实验室管理 > 系统管理 > 学术交流</blockquote>

	<div class="demoTable layui-form">
	  <div class="layui-inline">
	    <input class="layui-input" name="name" id="name" autocomplete="off" placeholder="名称">
	  </div>
	  <div class="layui-input-inline">
          <input class="layui-input" name="type" id="type" autocomplete="off" placeholder="作者">
       </div>
       <div class="layui-input-inline">
          <input class="layui-input" name="time" id="time" autocomplete="off" placeholder="年份">
       </div>
	  <button class="layui-btn" data-type="reload" id="xsjl_btn"><i class="layui-icon">&#xe615;</i>搜索</button>
	  <button class="layui-btn" data-type="getCheckData" style="float: right;" id="xsjladd"><i class="layui-icon">&#xe654;</i>新增学术交流</button>
	</div>

	<table id="xsjl_table" lay-filter="xsjl_table"></table>

<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript">
layui.use(['jquery','table','form'], function(){ 
    let $ = layui.$ //重点处
    let table = layui.table,
    	form = layui.form
    table.render({
	    elem: '#xsjl_table'
	    ,id:'table_xsjl'//重载需要
	    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
	    ,url: '/spatial/manage/xsjl_data' //数据接口
	    ,page: true //开启分页
	    ,cols: [[ //表头
	      {field: 'id', title: '序号',width:90,align:'center'}
	      ,{field: 'name', title: '名称',align:'center'}
	      ,{field: 'type', title: '交流类型', align:'center'}
	      ,{field: 'time', title: '时间', align:'center'}
	      ,{field: 'address', title: '地点', align:'center'}
	      ,{field: 'joinman', title: '参加人员', align:'center'}
	      ,{title:'操作', align:'center', toolbar: '#yjfxbar'} //这里的toolbar值是模板元素的选择器
	    ]]
	  });
    //数据重载
    $('#xsjl_btn').on('click', function(){
    	table.reload('table_xsjl', {
	        where: {
	            name: $('#name').val(),
	            type: $('#type').val(),
	            time: $('#time').val()
	        }
	    });
    })
    $('#xsjladd').on('click', function(){
    	//do somehing
	    let index = layui.layer.open({
            title : "查看 | 编辑",
            type : 2,
            content : "xsjladd",
            success : function(layero, index){
            }
        })
        layui.layer.full(index);
	        //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
	        $(window).on("resize",function(){
	            layui.layer.full(index);
	        })
    })
    //监听工具条
	table.on('tool(xsjl_table)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
	  var data = obj.data; //获得当前行数据
	  var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
	  var tr = obj.tr; //获得当前行 tr 的DOM对象
	  console.log('dddd')
	  if(layEvent === 'edit'){ //查看
	    //do somehing
	    var index = layui.layer.open({
            title : "查看 | 编辑",
            type : 2,
            content : "xsjledit?id="+data.id,
            success : function(layero, index){
            }
        })
        console.log('index',index)
        layui.layer.full(index);
        //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
        $(window).on("resize",function(){
            layui.layer.full(index);
        })

        //同步更新缓存对应的值
	    // obj.update({
	    //   username: '123'
	    //   ,title: 'xxx'
	    // });
	  } else if(layEvent === 'del'){ //删除
	    layer.confirm('确定删除吗?',{skin: 'layui-layer-molv' //样式类名
				                     ,closeBtn: 0}, function(index){
	      obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
	      layer.close(index);
	      //向服务端发送删除指令
	       $.ajax({
			  	url:'/spatial/manage/xsjldel',
			  	type:'POST',
			  	data:data,
			  	dataType : "json",
			  	success:function(result){
			  		if(result.code == 0){
			  			console.log('del success')			
			  		}
			  	},
			  	error:function(msg){
			  		console.log('ajax delete error msg',msg)
			  	}
			})
	    });
	  } 
	});
});
</script>
<script type="text/html" id="yjfxbar">
  <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
</script>
</body>
</html>